<!--

--->
<!--*********************************************************************************************-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GraphingGUI</title>
    <!-- using libraries ////////////////////////////////////////////////////////////////////////-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- using stylesheet ///////////////////////////////////////////////////////////////////////-->
    <link rel="stylesheet" href="GraphingGUI.css">
    <!-- import data files //////////////////////////////////////////////////////////////////////-->
    <script src="trace.js"></script>
</head>

<body>
    <div id="title">TSP solving by GA Graphing Tool</div>
    <div id="content">
        <v-tabs dark>
            <v-tab class="evolution tab">Evolution</v-tab>
            <v-tab class="generation tab">Generation</v-tab>
            <v-tab class="individual tab">Individual</v-tab>
            <v-btn class="dashboard button" @click="toggleDashboard()">
                Dashboard
            </v-btn>
            <v-tab-item class="page" :style="x_style_page">123</v-tab-item>
            <v-tab-item class="page" :style="x_style_page">456</v-tab-item>
            <v-tab-item class="page" :style="x_style_page">789</v-tab-item>
        </v-tabs>
        <div class="dashboard panel" v-show="show_dashboard">

            <h3>Select generation</h3>
                <v-app style="height: 50px; padding-left: 10px; padding-right: 10px;">
                    <v-slider v-model="generation_n" :min="1" :max="100"></v-slider>
                </v-app>

            <h3>Select individual</h3>

                <v-app style="height: 50px; padding-left: 10px; padding-right: 10px;">
                    <v-slider v-model="individual_n" :min="1" :max="100"></v-slider>
                </v-app>


            <h3>Details</h3>
        </div>
    </div>
</body>

<script src="GraphingGUI.js" charset="utf-8"></script>

</html>
